<div>
----------------
</div>
<div class="box">
    <ul class="menu">
        <li class="level1">
            <a id="one" href="">返回首页</a>
            <ul class="level2" style="display:none">
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>
        </li>
        <li class="level1">
            <a href="">two</a>
            <ul class="level2" style="display:none">
                <li><a href="">a</a></li>
                <li><a href="">b</a></li>
                <li><a href="">c</a></li>
            </ul>
        </li>
    </ul>
</div>
    @RenderBody()
<div>
    ----------------
</div>


