		        *{ margin:0;}
		        body
                {
                    background-image:url(/Images/bg_home.jpg);
                    background-repeat:repeat;
                    background-position:top;
                    background-attachment:fixed;
                    }
                a
                {
                    text-decoration:none;
                    color:rgb(51, 51, 51);
                    }
                ul
                {
                    list-style:none;
                    }
                
                .maindiv
                {
                    margin:0 auto;
                    width:1366px;
                    }
                .adshow
                {
                    position:absolute;
                    top:0px;
                    left:1096px;
                    width:200px;
                    height:600px;
                    }
                .fr
                {
                    position:fixed;
                    color:White;
                    right:15px;
                    font-size:10px;
                    }
                .regus
                {
                    position:fixed;
                    right:5px;
                    top:20px;
                    
                    }
                .high
                {
                    font-weight:bold;
                    color:#CC9933;
                    }
                
                .csschange
                {
                    font-size:10px;
                    }
                .another
                {
                    font-style:italic;
                    color:Green;
                    }
                .tooltip
                {
                    position:relative;
                    left:30%;
                    }
                .menu
                {
                    position:fixed;
                    width:296px;
                    height:665px;
                    background-image:url(/Images/nav.jpg);
                    }
                .mlname
                {
                    color:White;
                    font-size:medium;
                    font-family:"Dotum";
                    }
                .mainshow
                {
                    position:relative;
                    left:296px;
                    width:800px;
                    }
                .menulist
                {
                    position:absolute;
                    top:75px;
                    width:296px;
                    height:580px;
                    }
                .menulist1
                {
                    display:none;
                    line-height:18px;
                    font-size:10px;
                    }
                
                #defaultshow
                {
                    position:relative;
                    height:655px;
                    width:800px;
                    
                    }
                #infoshow
                {
                    position:relative;
                    color:White;
                    }
                #logo
                {
                    height:75px;
                    width:296px;
                    background-image:url(/Images/logo.jpg);
                    }
                
                #elem
                {
                    font-size:10px;
                    position:absolute;
                    border:red solid thin;
                    color:black;
                    }
                #list
                {
                    line-height:50px;
                    color:White;
                    list-style-type:hiragana-iroha;
                    }
                 #menulistimg
                 {
                     position:relative;
                     display:none;
                     width:200px;
                     height:144px;
                     }