@{
    ViewBag.Title = "Map2";
}
<html>
    <head>
        <title>传火祭祀场</title>
        <link rel="Shortcut Icon" href="/Images/favicon.ico" />
        <style type="text/css">
        </style>
    </head>
    <body>
        <img src="/Images/map/map2.jpg" alt="" style="width:600px;height:436px;"/>
    </body>
</html>

