@{
    ViewBag.Title = "Map3";
}
<html>
    <head>
        <title>洛斯里克的高墙</title>
        <link rel="Shortcut Icon" href="/Images/favicon.ico" />
        <style type="text/css">
        </style>
    </head>
    <body>
        <img src="/Images/map/map3_1.jpg" alt="" style="width:600px;height:436px;"/>
    </body>
</html>
