@{
    ViewBag.Title = "Map4";
}
<html>
    <head>
        <title>不死街</title>
        <link rel="Shortcut Icon" href="/Images/favicon.ico" />
        <style type="text/css">
        </style>
    </head>
    <body>
        <img src="/Images/map/map4.jpg" alt="" style="width:600px;height:436px;"/>
    </body>
</html>
